# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS
.DS_Store

# Logs
*.log

# Claude
CLAUDE.md
.claude/
.mcp.json
.superpowers
